*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}
.content{
    max-width: 600px;
    background-color: rgb(203, 225, 243);
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px ;
    padding: 20px;
    box-shadow: 2px 2px 2px rgb(212, 223, 212, 0.5);
}

#small_heading{
    font-size: 20px;
}


/* form section */
.form-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.form-control{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 15px;
    font-weight: 400px;
    margin-bottom: 5px;
}


input,
select,
textarea{
    background-color: rgb(243, 239, 239);
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.button-container{
   display: flex;
   justify-content: end;
   margin-top: 20px;
}
button{
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    border: transparent solid 2px ;
    border-radius: 10px;
    transition: 0.3s ease-in;
}

button:hover{
    background-color: pink;
    border: 1px solid red;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.textarea-control{
    grid-column: 1 / span 2;
}

.textarea-control textarea{
    width: 100%;
}

@media (max-width:461px){
.textarea-control {
        grid-column: 1 / span 1;
    }
}


