/* resetiing default css values */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
}

body {
    background-color: rgb(214, 203, 203);
}

/* making container align in center */
.container{
    margin: 0 auto;
    max-width: 900px;
    /* border: 1px solid darkturquoise; */
}

/* actual content will be here */
.apply-box{
    max-width: 600px;
    padding: 20px;
    background-color: rgb(203, 225, 243);
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 2px 2px 2px rgb(212, 223, 212,0.5);
    border-radius: 10px;
}

/* title */
#web-title{
    font-size: 20px;
}

/* form section */
.form-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form-control{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 15px;
    font-weight: 400px;
    margin-bottom: 5px;
}

input, select,textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

input,select,textarea:focus{
    outline-color: rgb(104, 61, 61);
    /* outline-width: 1px; */
    
}

.button-container{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

button{
    background-color: red;
    padding: 5px 10px;
    font-size: 15px;
    border: transparent solid 2px;
    border-radius: 8px;
    color: white;
    transition: 0.3s ease-in;
}

button:hover{
    background-color: #ccc;
    color: black;
    border: 1px solid red;
    transition: 0.3s ease-out;
    cursor: pointer;

}

.textarea-control{
grid-column: 1 / span 2;
}

.textarea-control textarea {
    width: 100%;
}

@media (max-width:460px) {
    .textarea-control {
            grid-column: 1 / span 1;
        }
}



















/* body{
    margin: 0;
    padding: 0;
    background-color: rgb(214, 203, 203);
}

#layout{
    height: 500px;
    width: 600px;
    border: 1px solid black;
    background-color: white;
    margin: 50px auto 0 auto;
    border-radius: 2%;
}
#heading{
    padding-top: 8px;
    padding-left:12px ;
}
#heading h1{
    font-family:'Times New Roman', Times, serif;
}

#form{
    padding: 15px;
} */



